@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=DM+Serif+Display:ital@1&display=swap");

/* ------- Variables -------- */

:root {
    --primary-color: #2c2d49;
    --secondary-color: #ea615e;
    --tertiary-color: #d957a4;
    --body-text-color: #eaead7;

    --logo-font-size: 3rem;
    --logo-text-letter-spacing: -3px;
    --welcome-h1-font-size: 2.5rem;

    --logo-width: 80px;
    --header-height: 50px;

    /* Desktop screens */
    @media screen and (min-width: 727px) {
        --logo-font-size: 5rem;
        --logo-text-letter-spacing: -8px;
        --welcome-h1-font-size: 4rem;
    }
}

/* ------- Base -------- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    font-family: Gill Sans, sans-serif;
    font-weight: 300;
    line-height: 1.3;
    color: var(--body-text-color);
}

a {
    text-decoration: none;
}

h1 {
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-size: 3rem;
    color: var(--tertiary-color);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.invisible {
    opacity: 0;
}

/* ------- Header -------- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s opacity;
    width: 100%;
    padding: 0rem 0.5rem;
    z-index: 100;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    .header-button {
        display: block;
        cursor: pointer;
        font-size: 1.7rem;
        padding: 20px;
    }

    #logo {
        display: grid;
        grid-template-columns: var(--logo-width) 1fr;
        align-items: center;
        overflow: hidden;
    }

    #logo-img {
        width: var(--logo-width);
        padding: 10px 0px;
    }

    #logo-text {
        font-family: "Assistant", sans-serif;
        font-size: var(--logo-font-size);
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: var(--logo-text-letter-spacing);
        padding-right: 10px;

        & a,
        & a:hover,
        & a:visited {
            color: var(--body-text-color);
            transition: text-shadow 0.3s;
        }

        & a:hover {
            text-shadow: 0px 0px 5px #eaead7;
        }
    }

    & ul {
        list-style-type: none;
    }
}

/* Dynamically added styles */
.header-bg {
    background-color: var(--primary-color) !important;
}

/* ------- Welcome -------- */
#welcome {
    position: relative;
    top: 0;
    height: 700px;
    width: 100%;
    overflow: hidden;

    & img {
    }

    #welcome__headers {
        position: absolute;
        z-index: 50;
        display: block;
        text-align: center;
        width: 100%;

        #wavy-header {
            font-size: var(--welcome-h1-font-size);
            white-space: nowrap;
            margin-bottom: 0;
        }

        #wavy-header span {
            display: inline-block;
            position: relative;
            padding: 0px 1px;

            animation: wave 2s ease-out infinite;
            animation-delay: calc(0.1s * var(--i));
        }

        #subheader {
            margin: auto;
            text-align: center;
        }
    }

    .welcome__image-main {
    }
}

@keyframes wave {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-40px);
    }
    30%,
    100% {
        transform: translateY(0px);
    }
}

/* ------- Content -------- */
#content {
    max-width: 1024px;
    margin: auto;
}

/* ------- About -------- */

#about {
    #about__content {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    #about__profile-image {
        width: 400px; /* TODO: fix mobile view so that we don't need this fixed width declaration, currently not centered */
        max-width: 100%;
        height: 400px; /* TODO: fix mobile view so that we don't need this fixed height declaration */
    }

    .portrait-image {
        position: absolute;
        transition: all 0.6s ease-out;
    }

    .portrait-image__back {
        opacity: 0;
        transform: translateY(-50%);
        border-radius: 30%;
    }

    #about__profile-image:hover .portrait-image__back {
        opacity: 1;
        transform: translateX(0%);
    }

    #about__profile-image:hover .portrait-image__front {
        opacity: 0.8;
        transform: translateY(-30%);
    }

    /* desktop screens */
    @media screen and (min-width: 767px) {
        #about__content {
            grid-template-columns: 300px 1fr;
            justify-items: center;
            column-gap: 2rem;
        }
    }
}

/* ------- Art -------- */
#art {
    overflow: hidden;

    #art__carousel {
        display: flex;
        flex-direction: row;
        height: 200px;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;

        .art__carousel-img {
            width: 200px;
            height: 200px;
            flex: 0 0 auto;
        }
    }
}

/* ------- Contact -------- */
#contact {
    #contact__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .contact__links-icon i {
            display: inline-block;
            font-size: 3rem;
            padding: 0.5rem;
        }
    }
}

/* ------- Go to Top Button -------- */
#totop {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--secondary-color);
    display: inline-block;
    padding: 0.4rem 0.5rem 0.35rem 0.5rem;
    border-radius: 3rem;
    font-size: 1rem;
    opacity: 0.7;
    color: var(--body-text-color);
    z-index: 50;
    transition: bottom 0.3s, transform 0.3s, opacity 0.3s;

    &:hover {
        transform: translateY(-0.25rem);
        opacity: 1;
    }
}

/* Show Scroll Up */
.show-totop {
    bottom: 3rem !important;
}

/* ------- Desktop styles -------- */
@media screen and (min-width: 767px) {
    #welcome {
        height: 1000px;
    }
}
