@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@500&family=DM+Serif+Display:ital@1&display=swap");

/* ------- Variables -------- */

:root {
    --background-color: #e891bb;
    --secondary-color: #305d97;

    --logo-font-size: 3rem;
    --logo-text-letter-spacing: -3px;
    --welcome-h1-font-size: 2rem;

    --logo-width: 80px;
    --header-height: 50px;

    /* Desktop screens */
    @media screen and (min-width: 1024px) {
        --logo-font-size: 5rem;
        --logo-text-letter-spacing: -8px;
        --welcome-h1-font-size: 2.5rem;
    }
}

/* ------- Base -------- */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    font-family: Gill Sans, sans-serif;
    font-weight: 300;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-size: 3rem;
}

/* TODO: remove */
.placeholder {
    border: 1px solid #000;
    background: #fff;
}

/* ------- Header -------- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s background;
    width: 100%;
    padding: 0rem 0.5rem;
    z-index: 100;

    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    .header-button {
        display: block;
        cursor: pointer;
        font-size: 1.7rem;
        padding: 20px;
    }

    #logo {
        display: grid;
        grid-template-columns: var(--logo-width) 1fr;
        column-gap: 1rem;
        overflow: hidden;
    }

    #logo-img {
        width: var(--logo-width);
    }

    #logo-text {
        font-family: "Assistant", sans-serif;
        font-size: var(--logo-font-size);
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: var(--logo-text-letter-spacing);
        padding-right: 10px;

        & a,
        & a:hover,
        & a:visited {
            color: #000;
        }
    }

    #nav {
        #nav__menu {
            display: flex;
            text-align: center;

            .nav__link {
                color: white;
                transition: color 0.4s;
                font-weight: bold;
                text-transform: lowercase;
                display: inline-block;
                padding: 4px;
                letter-spacing: 0.5px;

                &:hover {
                    color: red;
                }
            }
        }

        #nav__close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            color: white;
        }
    }

    & ul {
        list-style-type: none;
    }

    /* mobile screens */
    @media screen and (max-width: 767px) {
        #nav {
            position: fixed;
            left: 0;
            top: -100%;
            background-color: var(--secondary-color);
            width: 100%;
            padding-block: 2rem;
            transition: top 0.4s;

            #nav__menu {
                flex-direction: column;
                row-gap: 1rem;
            }
        }
    }

    /* desktop screens */
    @media screen and (min-width: 767px) {
        #nav__menu {
            flex-direction: row;
            column-gap: 1rem;
        }

        #nav__toggle,
        #nav__close {
            display: none;
        }
    }
}

/* Dynamically added styles */
.header-bg {
    background-color: var(--background-color) !important;
}

.show-nav {
    top: 0px !important;
}

/* ------- Main -------- */
#main {
    max-width: 1024px;
    margin: auto;
    padding-top: 7rem;
}

.section {
    margin-inline: 1.5rem;
}

/* ------- Welcome -------- */
#welcome {
    & h1 {
        font-size: var(--welcome-h1-font-size);
    }
    .welcome__hero-image {
        height: 900px;
    }
}

/* ------- About -------- */

#about {
    #about__data {
        display: grid;
        justify-items: center;
    }
    #about__profile-image {
        width: 500px; /* TODO: remove once real image is put in place */
        max-width: 100%;
        height: 300px;
    }

    /* desktop screens */
    @media screen and (min-width: 767px) {
        #about__data {
            grid-template-columns: 400px 1fr;
            justify-items: center;
            column-gap: 2rem;
        }
    }
}

/* ------- Programming -------- */
#programming {
    #programming__projects {
        display: flex;
        flex-direction: column;

        .programming__card-img {
            height: 200px;
            width: 200px;
        }
    }

    /* desktop screens */
    @media screen and (min-width: 767px) {
        #programming__projects {
            flex-direction: row;
        }
    }
}

/* ------- Art -------- */
#art {
    overflow: hidden;

    #art__carousel {
        display: flex;
        flex-direction: row;
        height: 200px;
        overflow-y: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;

        .art__carousel-img {
            width: 200px;
            height: 200px;
            flex: 0 0 auto;
        }
    }
}

/* ------- Contact -------- */
#contact {
    #contact__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .contact__links-icon i {
            display: inline-block;
            font-size: 3rem;
            padding: 0.5rem;
        }
    }
}
