/* ------- Variables -------- */

:root {
    --logo-font-size: 3rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --logo-font-size: 5rem;
    }
}

body {
    background-color: #e891bb;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

/* ------- Header -------- */
#header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s background;
    width: 100%;
    z-index: 100;
}

.header-transparent {
    background-color: transparent;
}

.header-bg {
    background-color: #000;
}

/* ------- Main -------- */

#main {
    max-width: 1024px;
    margin: auto;
}

.section {
    margin-inline: 1.5rem;
}

#logo {
    font-size: var(--logo-font-size);
}

#welcome__hero-image {
    height: 900px;
    display: block;
    border: 1px solid #000;
}

#about__profile-image {
    width: 100%;
    display: block;
    border: 1px solid #000;
}
